<div>
  <center>
    <h1><%= @campaign.name %></h1>
    <p><strong>Start Date: </strong><%= @campaign.start_date %></p>
    <p><strong>End Date: </strong><%= @campaign.end_date %></p>
    <h3>Total Donations: <%= number_to_currency(@campaign.total_donations, precision: 2) %></h3>
    <%= button_to "Make a Donation", new_campaign_donation_path(@campaign), method: :get %>
  </center>
</div>=
